$border: 1px solid rgb(206, 206, 206);

.Homepage {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;

  .Homepage-header {
    position: relative;
    background-image: url('https://res.cloudinary.com/dtty9rclm/image/upload/v1598376431/Project%203%20images/background_v3scqh.png');
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    h1 {
      margin-left: 1rem;
      width: 70%;
      font-weight: 300;
      text-align: start;
      line-height: 175%;
    }
  }

  form {
    border: $border;
    input {
      margin: 0;
      border: none;
      outline: none;
    }
  }

  .Job-offers-container {
    div {
      div {
        padding-bottom: 3px;
        background: linear-gradient(
          to right,
          rgba(115, 171, 255, 1),
          rgba(55, 255, 243, 0.04)
        );
      }
      h3 {
        background-color: #fff;
        font-size: 1.5rem;
      }
    }
  }

  .Job-post {
    border: $border;

    img {
      max-width: 3.5rem;
    }

    div {
      h5 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

@import './styles/media';
