.list-companies-view {
  & > h1 {
    margin-top: 0.5em;
  }
  div > h1 {
    margin: 1em auto;
    padding-top: 3em;
    color: rgba(95, 73, 231, 1) !important;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    > li {
      max-width: 600px;
      margin: 2em auto;
      display: flex;
      justify-content: space-evenly;

      .card {
        padding: 0.5em;
        width: 100%;
        max-width: 20rem;
        // border: 1px groove rgb(182, 214, 219);
        box-shadow: 0 4px 10px 4px rgba(182, 214, 219, 0.5);
        border-radius: 0.5rem;

        .card-body {
          p {
            font-style: italic;
            font-size: 1.2em;
          }
          a {
            background-color: rgba(95, 73, 231, 1) !important;
            border: none;
            font-style: normal !important;
            border: 2px #fff solid;
          }

          a:hover {
            background-color: #fff !important;
            color: rgba(95, 73, 231, 1);
            border: 2px rgba(95, 73, 231, 1) solid;
          }
        }
      }

      p {
        margin: 0.2em auto;
      }

      a {
        margin-top: 1em;
      }

      img {
        display: block;
        margin: 1rem auto;
        max-width: 150px;
        max-height: 150px;
        border-radius: 1rem;
      }
    }
  }
}
