.profile-view,
.profile-view-public {
  .company-info {
    padding: 2em 2em 1em;
    text-align: left;
    border-bottom: 1px solid rgb(243, 221, 255);

    img {
      display: inline-block;
      max-width: 150px;
      max-height: 150px;
      border-radius: 0.5rem;
    }

    .jobPost-img {
      display: block;
      max-width: 150px;
      max-height: 150px;
    }

    p {
      font-size: 1.3em;
      & > span {
        font-weight: 300;
      }
      & + p {
        margin: 0.2em 0 0;
      }
      & > a {
        color: rgb(39, 130, 190);
        transition: color 0.2s;

        &:hover {
          color: rgb(97, 20, 141);
        }
      }
    }

    .company-name {
      margin-top: 0.75em;
      font-weight: 700;
      color: rgba(95, 73, 231, 1);
      font-size: 2.5em;

      a > img {
        margin-left: 0.4em;
        display: inline;
        max-width: 40px;
      }
    }
  }

  .company-summary {
    padding: 2em 2em 1em;
    border-bottom: 1px solid rgb(243, 221, 255);

    .company-summary-title {
      font-weight: 400;
      font-size: 2em;
    }

    .company-summary-text {
      margin-top: 2em;
      color: rgb(20, 82, 124);
      font-weight: 500;
    }
  }

  .company-jobPosts {
    padding: 2em 2em 1em;

    h2 {
      text-align: left;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 2em;

      li {
        border: 2px solid rgb(243, 221, 255);
        & + li {
          margin-top: 1em;
        }

        a {
          .jobPost-img {
            display: block;
            max-width: 150px;
            max-height: 150px;
          }

          div > h5 {
            text-align: left;
          }
        }
      }
    }
  }
}

@import './media';
