$color-highlighted: #5f49e7;
.authentication-container {
  width: 90%;

  h3 {
    color: $color-highlighted;
  }

  form {
    width: 90%;

    button:hover {
      background-color: #fff !important;
      color: #5f49e7 !important;
    }
  }
}

@import './styles/media';
